extends index

block contenutoNav
    li
        a(href='/user')
            i.pe-7s-user
            p Inserisci Paziente
    li
        a(href='/inserimentoNuovaCartella')
            i.pe-7s-id
            p Cartella Clinica
    li
        a(href='/informazioni')
            i.pe-7s-info
            p Informazioni Cliniche
    li
        a(href='/intervento')
            i.pe-7s-note2
            p Intervento
    li
        a(href='/fotointervento')
            i.pe-7s-camera
            p Foto Intervento
    li
        a(href='/followup')
            i.pe-7s-refresh
            p Follow Up
    li.active
        a(href='/dati')
            i.pe-7s-graph
            p Visualizza Dati
    li
        a(href='/database')
            i.pe-7s-back-2
            p Esporta Database

.div
    block contenuto
        .container-fluid
            h2.well Visualizzazione Cartella Paziente
            .row
                .col-sm-6
                    h3 Seleziona Paziente
                .col-sm-6
                    h3 Seleziona Cartella Clinica
            .row
                .col-sm-6
                    .row
                        .col-sm-12.table-responsive
                            table#tabellaPazienti.table.table-striped.table-bordered(width='100%', cellspacing='0')
                                thead
                                    tr
                                        th id
                                        th Cognome
                                        th Nome
                                        th Sesso
                                        th Surgey Children
                                        th St Mary Hospital
                                        th Villaggio
                                        th Distretto
                                        th Contea
                                        th Madre
                                        th Padre
                                        th Telefono
                                        th Malaria
                                        th Malaria Inizio
                                        th Malaria Fine
                
                .col-sm-6.form-group
                    .row
                        .col-sm-6.form-group#formCartellaClinica
                            label(for='cartellaClinica') Cartella Clinica:
                            .cols-sm-10
                                select#cartellaClinica.form-control(onchange='changeSelectCartellaClinica();')
                                    option(value='', selected='selected')
                        .col-sm-6.form-group#formNumeroCartellaClinica
                            label(for='numeroCartellaClinica') Numero Cartella Clinica:
                            .cols-sm-10
                                select#numeroCartellaClinica.form-control(onchange='changeSelectNumeroCartellaClinica();')
                                    option(value='', selected='selected')
                    .row
                        .col-sm-12
                            label.cols-sm-2.control-label(for='fotoProfilo') Foto Paziente
                    .cols-sm-10
                        img#fotoProfilo.img-responsive(src='', style='width:350px; height:250px; margin: auto; display: none')
            h2.well Visualizzazione Informazioni Cliniche
            // Data ricovero
            .row
                .col-sm-12.table-responsive
                    table#tabellaInformazioni.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th Data Ricovero
                                th Data Dimissione
                                th Diagnosi
                                th Anamnesi
                                th Consulenza Chiurugica
                                th Consulenza Anestesiologica

            h2.well Intervento e Descrizione
            // Intervendo e descrizione
            .row
                .col-sm-4.form-group
                    label(for='intervento') Intervento:
                    .cols-sm-10
                        select#intervento.form-control(onchange='changeSelectIntervento();')
                            option(value='', selected='selected')
                .col-sm-4.form-group
                    label.cols-sm-2.control-label(for='dataIntervento') Data intervento:
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-calendar(aria-hidden='true')
                            input#dataIntervento.form-control(type='text', placeholder='Data Intervento', disabled=true)
                .col-sm-4.form-group
                    label.cols-sm-2.control-label(for='descrizioneIntervento') Descrizione intervento (max 500 caratteri):
                    textarea#descrizioneIntervento.form-control(rows='1', maxlength='500', disabled=true)
            // Foglio diario clinico e complicanze
            .row
                .col-sm-6.form-group
                    label.cols-sm-2.control-label(for='foglioDiarioClinico') Foglio Diario Clinico (max 500 caratteri):
                    textarea#foglioDiarioClinico.form-control(rows='1', maxlength='500', disabled=true)
                .col-sm-6.form-group
                    label.cols-sm-2.control-label(for='complicanze') Complicanze (max 500 caratteri):
                    textarea#complicanze.form-control(rows='1', maxlength='500', disabled=true)
            h2.well FollowUp Intervento
            .row
                .col-sm-12.table-responsive
                    table#tabellaFollowUp.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th data
                                th Indagini Ecografiche
                                th Indagini Radiografiche
                                th Indagini Ematochimiche
                                th Follow Up
                                th Anni Precedenti
            h2.well Foto Intervento
            #fotoIntervento.row
    footer.footer
        .container-fluid
            nav.pull-left
            p.copyright.pull-right
                | © 2018 Medici Senza Frontiere -
                a(href='http://www.ak12srl.it/')  Ak12 srl

block myScript
    script(src="assets/js/controllers/datiController.js")
