extends index

block contenutoNav
    li
        a(href='/user')
            i.pe-7s-user
            p Inserisci Paziente
    li
        a(href='/inserimentoNuovaCartella')
            i.pe-7s-id
            p Cartella Clinica
    li.active
        a(href='/informazioni')
            i.pe-7s-info
            p Informazioni Cliniche
    li
        a(href='/intervento')
            i.pe-7s-note2
            p Intervento
    li
        a(href='/fotointervento')
            i.pe-7s-camera
            p Foto Intervento
    li
        a(href='/followup')
            i.pe-7s-refresh
            p Follow Up
    li
        a(href='/dati')
            i.pe-7s-graph
            p Visualizza Dati
    li
        a(href='/database')
            i.pe-7s-back-2
            p Esporta Database

.div
    block contenuto
        .container-fluid
            h2.well Inserimento Informazioni cliniche
            .row
                .col-sm-12
                    h3 Ricerca per Cartella Clinica
            .row
                .col-sm-6.form-group
                    label.cols-sm-2.control-label(for='searchcartellaClinica') Cartella Clinica
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-folder-open-o.fa(aria-hidden='true')
                            input#searchcartellaClinica.form-control(type='month', placeholder='Cartella Clinica', min='2000-01-02')
                .col-sm-6.form-group
                    label.cols-sm-2.control-label(for='searchnumeroCartella') Numero
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-sitemap.fa(aria-hidden='true')
                            input#searchnumeroCartella.form-control(type='number', placeholder='Numero', min='0', step='1', value='0', onchange='searchTable()')
            .row
                .col-sm-6
                    h3 Seleziona Paziente
                .col-sm-6
                    h3 Seleziona Cartella Clinica
            .row
                .col-sm-6
                    .row
                        .col-sm-12.table-responsive
                            table#tabellaPazienti.table.table-striped.table-bordered(width='100%', cellspacing='0')
                                thead
                                    tr
                                        th id
                                        th Cognome
                                        th Nome
                                        th Sesso
                                        th Surgey Children
                                        th St Mary Hospital
                                        th Villaggio
                                        th Distretto
                                        th Contea
                                        th Madre
                                        th Padre
                                        th Telefono
                                        th Malaria
                                        th Malaria Inizio
                                        th Malaria Fine
                
                .col-sm-6.form-group
                    .row
                        .col-sm-6.form-group#formCartellaClinica
                            label(for='cartellaClinica') Cartella Clinica:
                            .cols-sm-10
                                select#cartellaClinica.form-control(onchange='changeSelectCartellaClinica();')
                                    option(value='', selected='selected')
                        .col-sm-6.form-group#formNumeroCartellaClinica
                            label(for='numeroCartellaClinica') Numero Cartella Clinica:
                            .cols-sm-10
                                select#numeroCartellaClinica.form-control(onchange='changeSelectNumeroCartellaClinica();')
                                    option(value='', selected='selected')
                    .row
                        .col-sm-12
                            label.cols-sm-2.control-label(for='fotoProfilo') Foto Paziente
                    .cols-sm-10
                        img#fotoProfilo.img-responsive(src='', style='width:350px; height:250px; margin: auto; display: none')
            .row
                .col-sm-12
                    h3 Inserisci Dati
            .row#datiInsert(style='display: none')
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='inizioRicovero') Data di ricovero:
                            #datetimepickerInizioRicovero.input-group.date
                                input#inizioRicovero.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon-calendar.glyphicon
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='fineRicovero') Data di dimissione:
                            #datetimepickerFineRicovero.input-group.date
                                input#fineRicovero.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon-calendar.glyphicon
                    .row#datiInsert1(style='display: none')
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='diagnosi') Diagnosi (max 500 caratteri):
                            textarea#diagnosi.form-control(rows='1', maxlength='500')
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='anamnesi') Anamnesi (max 500 caratteri):
                            textarea#anamnesi.form-control(rows='1', maxlength='500')
                    .row#datiInsert2(style='display: none')
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='consulenzaChirurgica') Consulenza chirurgica (max 500 caratteri):
                            textarea#consulenzaChirurgica.form-control(rows='1', maxlength='500')
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='consulenzaAnestesiologica') Consulenza anestesiologica (max 500 caratteri):
                            textarea#consulenzaAnestesiologica.form-control(rows='1', maxlength='500')

        br
        .container-fluid
            button.btn.btn-warning.pull-right(type='submit', onclick='salvaDati();') Salva Informazioni Cliniche

block myScript
    script(src="assets/js/controllers/informazioniController.js")