extends index

block contenutoNav
    li
        a(href='/user')
            i.pe-7s-user
            p Inserisci Paziente
    li.active
        a(href='/inserimentoNuovaCartella')
            i.pe-7s-id
            p Cartella Clinica
    li
        a(href='/informazioni')
            i.pe-7s-info
            p Informazioni Cliniche
    li
        a(href='/intervento')
            i.pe-7s-note2
            p Intervento
    li
        a(href='/fotointervento')
            i.pe-7s-camera
            p Foto Intervento
    li
        a(href='/followup')
            i.pe-7s-refresh
            p Follow Up
    li
        a(href='/dati')
            i.pe-7s-graph
            p Visualizza Dati
    li
        a(href='/database')
            i.pe-7s-back-2
            p Esporta Database

.div
    block contenuto
        .container-fluid
            h2.well Creazione Cartella Clinica e Valutazione Oggettiva
            .row
                .col-sm-6
                    h3 Seleziona Paziente
                .col-sm-6
                    h3 Crea Cartella
            // Cartella Clinica e Numero Cartella
            .row
                .col-sm-6.table-responsive
                    table#tabellaPazienti.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th Cognome
                                th Nome
                                th Sesso
                                th Surgey Children
                                th St Mary Hospital
                                th Villaggio
                                th Distretto
                                th Contea
                                th Madre
                                th Padre
                                th Telefono
                                th Malaria
                                th Malaria Inizio
                                th Malaria Fine
                .col-sm-6
                    .row
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='cartellaClinica') Cartella Clinica
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-folder-open-o.fa(aria-hidden='true')
                                    input#cartellaClinica.form-control(type='month', placeholder='Cartella Clinica', min='2000-01-02')
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='numeroCartella') Numero
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-sitemap.fa(aria-hidden='true')
                                    input#numeroCartella.form-control(type='number', placeholder='Numero', min='0', step='1', value='0')
                    .row
                        .col-sm-6.form-group
                            label(for='tipoEta') Tipo Età:
                            .cols-sm-10
                                select#tipoEta.form-control()
                                    option
                                    option Anni
                                    option Mesi
                                    option Settimane
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='anni') Equivalente Età
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-calendar.fa(aria-hidden='true')
                                    input#anni.form-control(type='number', placeholder='Anni', min='0', max='120', step='1', value='0')
                    .row
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='peso') Peso (in kg)
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-balance-scale.fa(aria-hidden='true')
                                    input#peso.form-control(type='number', placeholder='Peso', min='0', max='200', step='1', value='30')
            .row
                .col-sm-12
                    h3 Carica o scatta foto del paziente
            .row
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='caricaFoto') Carica Immagine da PC
                            .cols-sm-10
                                input#caricaFoto.form-control(type='file', onchange='encodeImageFileAsURL(this)')
                        .col-sm-6.form-group
                            label.cols-sm-2.control-label(for='scattaFoto') Scatta Foto
                            .cols-sm-10
                                a#scattaFoto.btn.btn-primary(onclick='visualizzaCamera();', target='_blank', type='button') Scatta da Camera
                    .row
                        .col-sm-6.form-group#hiddenrow
                            label.cols-sm-2.control-label(for='video') Scatta Foto
                            .cols-sm-12
                                video#video(onclick='snapshot(this);', width='100%', height='100%', controls='', autoplay='')
                        .col-sm-6.form-group#hiddenrow
                            label.cols-sm-2.control-label(for='myCanvas') Scatto catturato
                            .cols-sm-12
                                canvas#myCanvas(width='350', height='250')
                    .row
                        .col-sm-12
                            a#catturaFoto.btn.btn-success.btn-block(onclick='snapshot();', type='button', href='#') Cattura Immagine

        br
        .container-fluid
            button.btn.btn-warning.pull-right(onclick='salvaDati();') Salva Cartella Clinicha
block myScript
    script(src="assets/js/controllers/inserimentoNuovaCartellaController.js")